# JSONPlaceholder demo (server-only)
JSONPLACEHOLDER_BASE_URL=https://jsonplaceholder.typicode.com

# Module Federation remotes (local dev)
NEXT_PUBLIC_MFE_SHELL_URL=http://localhost:3001
NEXT_PUBLIC_MFE_STATE_URL=http://localhost:3002
